@page "/Animales"

<h3>Esta va a ser la pagina de animales, supongo que vamos a controlar todo lo que vendria a ser el seleccionado de materia prima y elegir a donde enviar los animales</h3>

@code {

}
